# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
  dbPath: {{ now_item.value.db_path }}
  directoryPerDB: true
  journal:
    enabled: true
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /home/vagrant/opt/confile/mongodb/mongod-{{ now_item.value.replica_name }}.log

# network interfaces
net:
  port: {{ now_item.value.port }}
  bindIp: {{ now_item.value.domain }}


processManagement:
    fork: true

{% if enable_service %}
security:
    keyFile: "{{ ansible_env.HOME }}/opt/confile/mongo-keyfile"
    authorization: "enabled"

replication:
    oplogSizeMB: 10240
    replSetName: "{{ now_item.value.replica_name }}"

sharding:
    clusterRole: "{{ now_item.value.cluster_role }}"
{% endif %}

#operationProfiling:

## Enterprise-Only Options:

#auditLog:

#snmp: