config={ 
    "_id":"{{ item.replica_name }}", 
{% if item.configsvr %}
    "configsvr": true,
{% endif %}
    "members": [
{% for ser in item.servers %}
      { _id: {{ loop.index0 }}, host: "{{ ser }}" }{% if not loop.last %},{% endif %}
{% endfor %}
   ]
}
rs.initiate(config)
rs.status()