config={ 
    "_id":"{{ now_item.value.replica_name }}", 
{% if now_item.value.cluster_role == 'configsvr' %}
    "configsvr": true,
{% endif %}
    "members":{{ rs_config }}
}
rs.initiate(config)
rs.status()