# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /home/vagrant/opt/confile/mongodb/mongod-{{ rs_conf.name }}.log

# network interfaces
net:
    port: {{ rs_conf.port }}
    bindIp: {{ rs_conf.domain }}
    maxIncomingConnections: 5000

processManagement:
    fork: true

security:
    keyFile: "{{ ansible_env.HOME }}/opt/confile/mongo-keyfile"

sharding:
    configDB: "{{ config_db }}"

## Enterprise-Only Options:

#auditLog:

#snmp: